In [6]:
import pandas as pd
from preprocessing.normalize import normalize

sick_aug = pd.read_csv("data/sick_aug.csv", header=0)
sick_aug_normalized = normalize(sick_aug, ["sim"])
sick_aug_normalized[:10]

,sent_1,sent_2,sim,label,rand_id
0,A man is typing on a machine used for stenography,There is no person riding a bike along a muddy...,0.000,NEUTRAL,9974.0
1,Two men are leaving the stage,Mimes are performing on a stage,0.525,NEUTRAL,1552.0
2,A man is wearing a purple shirt and black leat...,A model is wearing a purple shirt and black le...,0.850,ENTAILMENT,9393.0
3,A man is playing a keyboard in a park,A person is playing the keyboard,0.825,ENTAILMENT,1373.0
4,A cat is playing with a small bottle,A bottle is being licked by the cat,0.625,NEUTRAL,5664.0
5,A poor man is being fed snakes and mice,A snake is being fed a mouse by a man,0.325,NEUTRAL,1609.0
6,Two white dogs and one brown dog are chasing a...,Two white dogs and one brown dog are chasing a...,0.875,ENTAILMENT,7887.0
7,A group of mothers in uniforms is standing nea...,A group of children in uniforms is standing at...,0.575,NEUTRAL,315.0
8,Two men are riding an orange raft on the shore,Two men are getting off of an orange raft on t...,0.800,NEUTRAL,6460.0
9,There is no woman tapping her fingers,A woman is tapping her fingers on a table,0.700,CONTRADICTION,2233.0

In [13]:
bio_sses = pd.read_csv("data/BIOSSES.csv", header=0)
bio_sses[:10]
bio_sses_normalized = normalize(bio_sses, ["sim"])
bio_sses_normalized[:10]

,sent_1,sent_2,score_1,score_2,score_3,score_4,score_5,sim
0,It has recently been shown that Craf is essent...,It has recently become evident that Craf is es...,4,4,4,4,4,1.00
1,The Bcl-2 inhibitor ABT-737 induces regression...,"Recently, it has been reported that ABT-737 is...",3,3,3,3,3,0.75
2,Previous studies demonstrated that the decreas...,"In addition, genetic and functional studies su...",2,2,3,2,2,0.55
3,"More recently, IDH mutations and resultant 2-h...",It has also been recently reported that mutati...,3,3,4,3,3,0.80
4,Recent in vitro studies using shRNA-based appr...,Two recent studies used RNAi-mediated Tet2 kno...,3,3,4,3,3,0.80
5,"Recently, it was reported that expression of I...",This large-scale study showed that IDH1/IDH2 m...,3,3,4,3,3,0.80
6,"Recently, it was reported that expression of I...",the mechanism was clarified by yet another gen...,1,1,3,2,1,0.40
7,expression of an activated form of Ras protein...,"When expressed alone in primary cells however,...",3,3,3,3,3,0.75
8,A high percentage of tumor cells that take on ...,"As a serine/threonine protein kinase, AKT func...",2,1,1,2,1,0.35
9,n view of the evidence that many tumors occurr...,The phenomena of neoplastic development and ne...,3,3,3,3,3,0.75

In [14]:
from embeddings.load_embeddings import load_word2vec

word2vec = load_word2vec("/data/word2vec/GoogleNews-vectors-negative300.bin.gz")